* {
  padding: 0;
  margin: 0;
}

/*Nav links */
#navbarNav a:hover {
  text-decoration: underline;
  transition: 10s ease-in-out;
}

.navbar-nav .active a {
  text-decoration: underline;
}

/* Hero sec */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/Images/hero10.avif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header .container {
  margin-top: 350px;
}

.header h1 {
  font-size: 70px;
  font-style: italic;
}

.header p {
  font-size: 20px;
}

/* About */
.subscribe input {
  padding: 10px;
  border-radius: 5px;
  width: 50%;
}

/* Aside */
.list-group li a {
  color: rgb(225, 142, 142) !important;
  text-decoration: none;
}

#container {
  margin-top: 500px;
}

#icons a {
  text-decoration: none;
}

#icons i {
  font-size: 20px;
  margin-right: 5px;
}

/* share this article */
#social-links a {
  padding-right: 10px;
}

.bi-share-fill {
  padding: 5px;
}

/* Related news */
.hr-bold {
  border: 0; 
  height: 3px; 
  background-color: #000;
}

/* More */
#textdark a {
  text-decoration: none;
  transition: 10s ease-in-out;
}

#textdark a:hover {
  text-decoration: underline;
  transition: 10s ease-in-out;
}

/* hr */
.container.border-muted {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}